html, body {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

/* 動画コンテナのスタイル */
.video-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* 動画のスタイル */
.video-container video {
  width: 100%;
}

svg {
  width: 0;
  height: 0;
  position: absolute;
}

.mask {
  clip-path: url(#svgPath);
}

.img {
  margin: auto;
  display: block;
}
